@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Parkinsans:wght@300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Parkinsans:wght@300..800&display=swap");

:root {
  --primary-color: hsl(158, 36%, 37%);
  --secondary-color: hsl(30, 38%, 92%);

  --dark-blue-1: hsl(212, 21%, 14%);
  --dark-blue-2: hsl(228, 12%, 48%);
  --light: hsl(0, 0%, 100%);

  --font-size-p: 14px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(30, 38%, 92%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.card-container {
  border-radius: 1rem;
  margin: 1rem;
  background-color: white;
  padding: 1rem;
}

.img-product-mobile {
  border-radius: 1rem 1rem 0 0;
  width: 100%;
}

.category {
  font-family: "Montserrat";
  font-size: x-small;
  font-weight: 500;
  letter-spacing: 5px;
  color: var(--dark-blue-2);
  margin-top: 1rem;
}

.name-product {
  font-family: "Fraunces";
  margin: 1rem 0;
}

.description {
  font-family: "Montserrat";
  font-size: var(--font-size-p);
  color: var(--dark-blue-2);
  margin: 1rem 0;
}

.price {
  font-family: "Fraunces";
  font-weight: 700;
  color: var(--primary-color);
  font-size: 1.5rem;
}

.prices-div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 0;
}

.old-price {
  font-family: "Montserrat";
  font-size: x-small;
  color: var(--dark-blue-2);
}

.add-to-cart-button {
  background-color: var(--primary-color);
  border: none;
  color: var(--light);
  font-weight: bold;
  font-size: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: auto;
  width: 66%;
  border-radius: 3px;
  padding: 6px;
}

.logo-cart {
  width: 1em;
}

.img-product-desktop {
  display: none;
}

@media screen and (min-width: 1000px) {
  .card-container {
    padding: 0;
    width: 50%;
    margin: 3rem auto;
  }

  .parent {
    display: flex;
  }

  .img-product-mobile {
    display: none;
  }
  .img-product-desktop {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 1rem 0 0 1rem;
  }
  .section-1 {
    width: 50%;
  }
  .section-2 {
    width: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .text-area {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .category {
    font-size: medium;
  }
  .name-product {
    font-size: 2em;
  }
  .description {
    font-size: calc(var(--font-size-p) + 2px);
  }
  .price {
    font-size: 2rem;
  }
  .old-price {
    font-size: calc(var(--font-size-p) + 2px);
  }
  .add-to-cart-button {
    font-size: 1rem;
    padding: 10px;
    width: 100%;
  }
}

/* media queries
The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px */
